flows.json
[
    {
        "id": "4f32702dbb370f03",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78e1ed1c97038229",
        "type": "mqtt in",
        "z": "4f32702dbb370f03",
        "name": "Temperature",
        "topic": "coop/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc6bf72cdef68044",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 100,
        "wires": [
            [
                "188911b8787f0090",
                "0e0fabb8ec381f7c",
                "8a3492e758cffe1d"
            ]
        ]
    },
    {
        "id": "188911b8787f0090",
        "type": "ui_gauge",
        "z": "4f32702dbb370f03",
        "name": "Temperature",
        "group": "4e5f9133d097b584",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatur",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 20,
        "wires": []
    },
    {
        "id": "0e0fabb8ec381f7c",
        "type": "ui_chart",
        "z": "4f32702dbb370f03",
        "name": "Temperature",
        "group": "4e5f9133d097b584",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "863753bb81013068",
        "type": "mqtt in",
        "z": "4f32702dbb370f03",
        "name": "Humidity",
        "topic": "coop/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc6bf72cdef68044",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 340,
        "wires": [
            [
                "bead87e3a7c952b9",
                "1d44188bc49b7088",
                "194c44db57879cb1"
            ]
        ]
    },
    {
        "id": "bead87e3a7c952b9",
        "type": "ui_gauge",
        "z": "4f32702dbb370f03",
        "name": "Humidity",
        "group": "1a35cc566a219349",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Kelembaban",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "1d44188bc49b7088",
        "type": "ui_chart",
        "z": "4f32702dbb370f03",
        "name": "Humidity",
        "group": "1a35cc566a219349",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a0a1120db60285c8",
        "type": "mqtt in",
        "z": "4f32702dbb370f03",
        "name": "Gas",
        "topic": "coop/gas",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc6bf72cdef68044",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 580,
        "wires": [
            [
                "8127c9edc3e77f2b",
                "6b668bef1b92e78d",
                "4c1664d07a4c6c8e"
            ]
        ]
    },
    {
        "id": "8127c9edc3e77f2b",
        "type": "ui_gauge",
        "z": "4f32702dbb370f03",
        "name": "Gas",
        "group": "89fcd4442c39964c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Kualitas Udara",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 500,
        "wires": []
    },
    {
        "id": "6b668bef1b92e78d",
        "type": "ui_chart",
        "z": "4f32702dbb370f03",
        "name": "Gas",
        "group": "89fcd4442c39964c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "27202b699d3a393c",
        "type": "mqtt in",
        "z": "4f32702dbb370f03",
        "name": "Load",
        "topic": "coop/load",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc6bf72cdef68044",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 820,
        "wires": [
            [
                "c998862bf61cd62a",
                "e4b1a8768a62328c",
                "30d09cefb0813202"
            ]
        ]
    },
    {
        "id": "c998862bf61cd62a",
        "type": "ui_gauge",
        "z": "4f32702dbb370f03",
        "name": "Load",
        "group": "89532b6145dd762b",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "wave",
        "title": "Sisa Pakan",
        "label": "gram",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#b30000",
            "#e6e600",
            "#3acb3c"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 740,
        "wires": []
    },
    {
        "id": "e4b1a8768a62328c",
        "type": "ui_chart",
        "z": "4f32702dbb370f03",
        "name": "Load",
        "group": "89532b6145dd762b",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "d947cb21c8488874",
        "type": "remote-access",
        "z": "4f32702dbb370f03",
        "confignode": "e1974e4877acb582",
        "name": "CoopIQ",
        "verbose": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "595956ce8be43b77",
        "type": "debug",
        "z": "4f32702dbb370f03",
        "name": "load-debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 820,
        "wires": []
    },
    {
        "id": "30d09cefb0813202",
        "type": "GSheet",
        "z": "4f32702dbb370f03",
        "creds": "1538fa4b72d42f52",
        "method": "append",
        "action": "",
        "sheet": "11RwVHUOzH3qaQxQ6jgZ58J-rzu8d4tVkYkWQrnJ1UMY",
        "cells": "Sheet1!E2:E1000",
        "flatten": false,
        "name": "load-data",
        "x": 640,
        "y": 820,
        "wires": [
            [
                "595956ce8be43b77"
            ]
        ]
    },
    {
        "id": "f70f1ad8e52f1c1a",
        "type": "debug",
        "z": "4f32702dbb370f03",
        "name": "temp-debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "8a3492e758cffe1d",
        "type": "GSheet",
        "z": "4f32702dbb370f03",
        "creds": "1538fa4b72d42f52",
        "method": "append",
        "action": "",
        "sheet": "11RwVHUOzH3qaQxQ6jgZ58J-rzu8d4tVkYkWQrnJ1UMY",
        "cells": "Sheet1!B2:B1000",
        "flatten": false,
        "name": "temp-data",
        "x": 640,
        "y": 100,
        "wires": [
            [
                "f70f1ad8e52f1c1a"
            ]
        ]
    },
    {
        "id": "c22bd9387a1c7766",
        "type": "debug",
        "z": "4f32702dbb370f03",
        "name": "hum-debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "194c44db57879cb1",
        "type": "GSheet",
        "z": "4f32702dbb370f03",
        "creds": "1538fa4b72d42f52",
        "method": "append",
        "action": "",
        "sheet": "11RwVHUOzH3qaQxQ6jgZ58J-rzu8d4tVkYkWQrnJ1UMY",
        "cells": "Sheet1!C2:C1000",
        "flatten": false,
        "name": "hum-data",
        "x": 640,
        "y": 340,
        "wires": [
            [
                "c22bd9387a1c7766"
            ]
        ]
    },
    {
        "id": "656ba13634edaf7e",
        "type": "debug",
        "z": "4f32702dbb370f03",
        "name": "gas-debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 580,
        "wires": []
    },
    {
        "id": "4c1664d07a4c6c8e",
        "type": "GSheet",
        "z": "4f32702dbb370f03",
        "creds": "1538fa4b72d42f52",
        "method": "append",
        "action": "",
        "sheet": "11RwVHUOzH3qaQxQ6jgZ58J-rzu8d4tVkYkWQrnJ1UMY",
        "cells": "Sheet1!D2:D1000",
        "flatten": false,
        "name": "gas-data",
        "x": 640,
        "y": 580,
        "wires": [
            [
                "656ba13634edaf7e"
            ]
        ]
    },
    {
        "id": "cc6bf72cdef68044",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4e5f9133d097b584",
        "type": "ui_group",
        "name": "Node1",
        "tab": "6b388caff44389b9",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a35cc566a219349",
        "type": "ui_group",
        "name": "Node 4",
        "tab": "6b388caff44389b9",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "89fcd4442c39964c",
        "type": "ui_group",
        "name": "Node 2",
        "tab": "6b388caff44389b9",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "89532b6145dd762b",
        "type": "ui_group",
        "name": "Node 3",
        "tab": "6b388caff44389b9",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e1974e4877acb582",
        "type": "remote-config",
        "name": "CoopIQ",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "6nm46q29yxva997mw0w3utbkhy75l1ffj5fr3p9kxlowle36cve2nmpjv584ftik",
        "server": "nodered05.remote-red.com",
        "region": "sg"
    },
    {
        "id": "1538fa4b72d42f52",
        "type": "gauth",
        "name": "node-red@coopiq.iam.gserviceaccount.com"
    },
    {
        "id": "6b388caff44389b9",
        "type": "ui_tab",
        "name": "CoopIQ",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]